        regex exercises

In [1]:
import re

In [2]:
def show_all_matches(regexes, subject, re_length=6):
    print('Sentence:')
    print()
    print('    {}'.format(subject))
    print()
    print(' regexp{} | matches'.format(' ' * (re_length - 6)))
    print(' ------{} | -------'.format(' ' * (re_length - 6)))
    for regexp in regexes:
        fmt = ' {:<%d} | {!r}' % re_length
        matches = re.findall(regexp, subject)
        if len(matches) > 8:
            matches = matches[:8] + ['...']
        print(fmt.format(regexp, matches))

In [3]:
sentence = 'Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.'

r'  means raw string

In [4]:
re.findall(r'a', sentence)

['a', 'a', 'a', 'a', 'a']

In [5]:
re.findall(r'little lamb', sentence)

['little lamb', 'little lamb']

  .    is a metacharacter,   it means match anything

In [6]:
re.findall(r'.',sentence)

['M',
 'a',
 'r',
 'y',
 ' ',
 'h',
 'a',
 'd',
 ' ',
 'a',
 ' ',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 ' ',
 'l',
 'a',
 'm',
 'b',
 '.',
 ' ',
 '1',
 ' ',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 ' ',
 'l',
 'a',
 'm',
 'b',
 '.',
 ' ',
 'N',
 'o',
 't',
 ' ',
 '1',
 '0',
 ',',
 ' ',
 'n',
 'o',
 't',
 ' ',
 '1',
 '2',
 ',',
 ' ',
 'n',
 'o',
 't',
 ' ',
 '2',
 '2',
 ',',
 ' ',
 'j',
 'u',
 's',
 't',
 ' ',
 'o',
 'n',
 'e',
 '.']

"escape" it with a slash to search for an actual period

In [7]:
re.findall(r'\.',sentence)

['.', '.', '.']

returns any characters or numbers . (but no commas or punctuation)

In [8]:
re.findall(r'\w',sentence)

['M',
 'a',
 'r',
 'y',
 'h',
 'a',
 'd',
 'a',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 'l',
 'a',
 'm',
 'b',
 '1',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 'l',
 'a',
 'm',
 'b',
 'N',
 'o',
 't',
 '1',
 '0',
 'n',
 'o',
 't',
 '1',
 '2',
 'n',
 'o',
 't',
 '2',
 '2',
 'j',
 'u',
 's',
 't',
 'o',
 'n',
 'e']

In [9]:
re.findall(r'\w\d',sentence)

['10', '12', '22']

In [10]:
re.findall(r'\d',sentence)

['1', '1', '0', '1', '2', '2', '2']

search for spaces and tab chars

In [11]:
re.findall(r'\s',sentence)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [12]:
re.findall(r'\s',sentence)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

any character that is NOT whitespace,    capital S

In [13]:
re.findall(r'\S',sentence)

['M',
 'a',
 'r',
 'y',
 'h',
 'a',
 'd',
 'a',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 'l',
 'a',
 'm',
 'b',
 '.',
 '1',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 'l',
 'a',
 'm',
 'b',
 '.',
 'N',
 'o',
 't',
 '1',
 '0',
 ',',
 'n',
 'o',
 't',
 '1',
 '2',
 ',',
 'n',
 'o',
 't',
 '2',
 '2',
 ',',
 'j',
 'u',
 's',
 't',
 'o',
 'n',
 'e',
 '.']

find words

In [14]:
re.findall(r'\w+',sentence)

['Mary',
 'had',
 'a',
 'little',
 'lamb',
 '1',
 'little',
 'lamb',
 'Not',
 '10',
 'not',
 '12',
 'not',
 '22',
 'just',
 'one']

find numbers

In [15]:
re.findall(r'\d+',sentence)

['1', '10', '12', '22']

find any number , with optional comma

In [16]:
re.findall(r'\d+,?',sentence)

['1', '10,', '12,', '22,']

In [17]:
re.findall(r'.+',sentence)

['Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.']

break into 4 char chunks

In [18]:
re.findall(r'.{4}',sentence)

['Mary',
 ' had',
 ' a l',
 'ittl',
 'e la',
 'mb. ',
 '1 li',
 'ttle',
 ' lam',
 'b. N',
 'ot 1',
 '0, n',
 'ot 1',
 '2, n',
 'ot 2',
 '2, j',
 'ust ',
 'one.']

break into 4 or more chars chunks      comma means "or more"

In [19]:
re.findall(r'\w{4,}',sentence)

['Mary', 'little', 'lamb', 'little', 'lamb', 'just']

between 2 and 4 characters or numbers

In [20]:
re.findall(r'\w{2,4}',sentence)

['Mary',
 'had',
 'litt',
 'le',
 'lamb',
 'litt',
 'le',
 'lamb',
 'Not',
 '10',
 'not',
 '12',
 'not',
 '22',
 'just',
 'one']

words or numbers

In [21]:
re.findall(r'\w+',sentence)

['Mary',
 'had',
 'a',
 'little',
 'lamb',
 '1',
 'little',
 'lamb',
 'Not',
 '10',
 'not',
 '12',
 'not',
 '22',
 'just',
 'one']

everything in a list

In [22]:
re.findall(r'[aeiou]',sentence)

['a', 'a', 'a', 'i', 'e', 'a', 'i', 'e', 'a', 'o', 'o', 'o', 'u', 'o', 'e']

all uppercase

In [23]:
re.findall(r'[A-Z]',sentence)

['M', 'N']

regex NOT

In [24]:
re.findall(r'[^aeiou]',sentence)

['M',
 'r',
 'y',
 ' ',
 'h',
 'd',
 ' ',
 ' ',
 'l',
 't',
 't',
 'l',
 ' ',
 'l',
 'm',
 'b',
 '.',
 ' ',
 '1',
 ' ',
 'l',
 't',
 't',
 'l',
 ' ',
 'l',
 'm',
 'b',
 '.',
 ' ',
 'N',
 't',
 ' ',
 '1',
 '0',
 ',',
 ' ',
 'n',
 't',
 ' ',
 '1',
 '2',
 ',',
 ' ',
 'n',
 't',
 ' ',
 '2',
 '2',
 ',',
 ' ',
 'j',
 's',
 't',
 ' ',
 'n',
 '.']

anything not a lowercase letter

In [25]:
re.findall(r'[^a-z]',sentence)

['M',
 ' ',
 ' ',
 ' ',
 ' ',
 '.',
 ' ',
 '1',
 ' ',
 ' ',
 '.',
 ' ',
 'N',
 ' ',
 '1',
 '0',
 ',',
 ' ',
 ' ',
 '1',
 '2',
 ',',
 ' ',
 ' ',
 '2',
 '2',
 ',',
 ' ',
 ' ',
 '.']

find all the words that start with a capital letter

In [26]:
re.findall(r'[A-Z][a-z]+',sentence)

['Mary', 'Not']

In [27]:
re.findall(r'[A-Z][a-z]',sentence)

['Ma', 'No']

one or more lowercase letters followed by one or more numbers

In [28]:
re.findall(r'[a-z]+[0-9]+',sentence)

[]

accout for space between letters and numbers

In [29]:
re.findall(r'[a-z]+\s[0-9]+',sentence)

['ot 10', 'not 12', 'not 22']

In [30]:
re.findall(r'[A-Za-z]+\s\d+',sentence)

['Not 10', 'not 12', 'not 22']

all words followed by a period

In [31]:
re.findall(r'\w+\.',sentence)

['lamb.', 'lamb.', 'one.']

anchors

first three anything

In [32]:
re.findall(r'^...',sentence)

['Mar']

last word ,  $ for end

In [33]:
re.findall(r'\w+\.$',sentence)

['one.']

word boundary     this is first thing that occurs after a word boundary, word boundary are start of word, end of word

In [34]:
sentence

'Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.'

In [35]:
re.findall(r'\b.',sentence)

['M',
 ' ',
 'h',
 ' ',
 'a',
 ' ',
 'l',
 ' ',
 'l',
 '.',
 '1',
 ' ',
 'l',
 ' ',
 'l',
 '.',
 'N',
 ' ',
 '1',
 ',',
 'n',
 ' ',
 '1',
 ',',
 'n',
 ' ',
 '2',
 ',',
 'j',
 ' ',
 'o',
 '.']

any thing between word boundaries that is 3 or 4 characters

In [36]:
re.findall(r'\b\w{3,4}\b',sentence)

['Mary', 'had', 'lamb', 'lamb', 'Not', 'not', 'not', 'just', 'one']

In [37]:
re.findall(r'\b\w{3,4}\b','here is     some text')

['here', 'some', 'text']

capture group,  searches for the pattern,  but only returns what is in within the parenthesis

In [38]:
sentence

'Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.'

In [39]:
re.findall(r'(\w+)\.',sentence)

['lamb', 'lamb', 'one']

In [40]:
list(zip(re.findall(r'\w+',sentence), re.findall(r'(\w+)\.',sentence)))

[('Mary', 'lamb'), ('had', 'lamb'), ('a', 'one')]

find any pattern of two matching charcters

In [41]:
re.findall(r'((.)\2)',sentence)

[('tt', 't'), ('tt', 't'), ('22', '2')]

non-greedy,   ?

In [42]:
sentence

'Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.'

In [43]:
re.findall(r'.+',sentence)

['Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.']

In [44]:
re.findall(r'.+?',sentence)

['M',
 'a',
 'r',
 'y',
 ' ',
 'h',
 'a',
 'd',
 ' ',
 'a',
 ' ',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 ' ',
 'l',
 'a',
 'm',
 'b',
 '.',
 ' ',
 '1',
 ' ',
 'l',
 'i',
 't',
 't',
 'l',
 'e',
 ' ',
 'l',
 'a',
 'm',
 'b',
 '.',
 ' ',
 'N',
 'o',
 't',
 ' ',
 '1',
 '0',
 ',',
 ' ',
 'n',
 'o',
 't',
 ' ',
 '1',
 '2',
 ',',
 ' ',
 'n',
 'o',
 't',
 ' ',
 '2',
 '2',
 ',',
 ' ',
 'j',
 'u',
 's',
 't',
 ' ',
 'o',
 'n',
 'e',
 '.']

In [45]:
re.findall(r'.+',sentence)

['Mary had a little lamb. 1 little lamb. Not 10, not 12, not 22, just one.']

In [46]:
sentence = '''
You can find us on the web at https://codeup.com. Our ip address is 123.123.123.123 (maybe).
'''.strip()

print(sentence)

You can find us on the web at https://codeup.com. Our ip address is 123.123.123.123 (maybe).

suppose we want to find something that looks like an IP address

In [47]:
re.findall(r'(\d{1,3}\.){3}\d{1,3}', sentence)

['123.']

In [48]:
re.findall(r'(\d{1,3}\.){3}\d{1,3}', sentence)[0]

'123.'

In [49]:
re.findall(r'a', 'AAAA', re.IGNORECASE)

['A', 'A', 'A', 'A']

In [54]:
regexp = r'''
[aeiou] (?# any vowel)
[^aeiou] (?# followed by a non-vowel)
'''