In [2]:
import pandas as pd
from env import user, host, pw, datadirpath
from pydataset import data
import pymysql as py 
import scipy.stats as stats
#  --  check to see if these are needed
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('classic')
import statsmodels.api as sm
from scipy.stats import pearsonr
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, median_absolute_error
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import SelectKBest, f_classif
from env import user, host, pw, datadirpath
# import warnings
# warnings.filterwarnings("ignore")

Use the pydataset module to load the iris data set into a dataframe, df_iris

print the first 3 rows
print the number of rows and columns (shape)
print the column names
print the data type of each column
print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [6]:
df_iris = sns.load_dataset('iris')
df_iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [10]:
df_iris.shape

(150, 5)

In [11]:
df_iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [13]:
df_iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal_width     150 non-null float64
species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [14]:
df_iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

No recomendation to rescale the data.

Read the data tab from the stats module dataset, Excel_Stats.xlsx, into a dataframe, df_excel

assign the first 100 rows to a new dataframe, df_excel_sample
print the number of rows of your original dataframe
print the first 5 column names
print the column names that have a data type of object
compute the range for each of the numeric variables.

In [22]:
df_excel = pd.read_excel('Excel_Stats.xlsx', sheet_name='Data')
# .  could have used nrows= attribute to limit the number of rows

In [23]:
df_excel_sample = df_excel.iloc[:100]

In [24]:
df_excel.shape

(7043, 13)

In [25]:
df_excel_sample.shape

(100, 13)

In [30]:
df_excel.columns

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'internet_service', 'contract_type',
       'payment_type', 'monthly_charges', 'total_charges', 'churn'],
      dtype='object')

In [33]:
df_excel.describe()

,is_senior_citizen,tenure,phone_service,internet_service,contract_type,monthly_charges,total_charges
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7032.000000
mean,0.162147,32.371149,1.325004,1.222916,0.690473,64.761692,2283.300441
std,0.368612,24.559481,0.642730,0.778877,0.833755,30.090047,2266.771362
min,0.000000,0.000000,0.000000,0.000000,0.000000,18.250000,18.800000
25%,0.000000,9.000000,1.000000,1.000000,0.000000,35.500000,401.450000
50%,0.000000,29.000000,1.000000,1.000000,0.000000,70.350000,1397.475000
75%,0.000000,55.000000,2.000000,2.000000,1.000000,89.850000,3794.737500
max,1.000000,72.000000,2.000000,2.000000,2.000000,118.750000,8684.800000

In [45]:
IQR_range = df_excel.describe().iloc[6]['tenure'] - df_excel.describe().iloc[4]['tenure']
IQR_range

46.0

Read train.csv from google drive (shared through classroom in topic 'Classification') into a dataframe labeled df_google

print the first 3 rows
print the number of rows and columns
print the column names
print the data type of each column
print the summary statistics for each of the numeric variables
print the unique values for each of your categorical variables

In [51]:
url="https://docs.google.com/spreadsheets/d/1ef1GDK2IZZLPyVyxlCHepYzLJnoJ4rSXVQLqOL01nq4/edit#gid=91315388"
csv_export_url = url.replace('/edit#gid=', '/export?format=csv&gid=')
#  df_google=pd.read_csv(csv_export_url)
#  dont load from google sheets (there is a permissions error),  just download it and access it