Split data into train (70%) & test (30%) samples. You should end with 2 data frames: train_df and test_df

Create a swarmplot where the x-axis is each of the independent variable names (petal_length, petal_width, etc). The y-axis is the value of the variable. Use color to represent species as another dimension. Hint: You will to 'melt' the dataframe into a 'long' dataframe in order to accomplish this. What are your takeaways from this visualization?

Create 4 subplots (2 rows x 2 columns) of scatterplots

sepal_length x sepal_width
petal_length x petal_width
sepal_area x petal_area
sepal_length x petal_length
Make your figure size 14 x 8. What are your takeaways?
Create a heatmap of each variable layering correlation coefficient on top.

Create a scatter matrix visualizing the interaction of each variable

Is the sepal length significantly different in virginica than versicolor? Run an experiment to test this.

must include null hypothesis, alternative hyp, t-test, results, summary
H
0
: the difference in sepal length between virginica and versicolor is insignificant.
H
a
: the difference in sepal length between virginica and versicolor is substantial.
We will test if the sepal length of virginica is significantly different than that of the versicolor.
If there is difference, then variable sepal_length is a good choice to keep as a feature.
We can use a t-test here, as sepal_length is somwhat normally distributed.

In [1]:
# import warnings
# warnings.filterwarnings("ignore")
import prepare
import acquire
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:
df = acquire.get_iris_data()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
measurement_id    150 non-null int64
sepal_length      150 non-null float64
sepal_width       150 non-null float64
petal_length      150 non-null float64
petal_width       150 non-null float64
species_id        150 non-null int64
species_name      150 non-null object
dtypes: float64(4), int64(2), object(1)
memory usage: 8.3+ KB

In [4]:
df = prepare.prep_iris_data(df)

In [7]:
df.head()

,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species
0,1,5.1,3.5,1.4,0.2,setosa
1,2,4.9,3.0,1.4,0.2,setosa
2,3,4.7,3.2,1.3,0.2,setosa
3,4,4.6,3.1,1.5,0.2,setosa
4,5,5.0,3.6,1.4,0.2,setosa

In [ ]:
# train, test = train_test_split(df, test_size=.3, random_state=123, stratify=df[['survived']])

In [9]:
melt = pd.melt(df, id_vars=['measurement_id'], var_name='characteristic', value_name='values')
melt.sample(20)

     measurement_id characteristic      values
415             116   petal_length         5.3
281             132    sepal_width         3.8
315              16   petal_length         1.5
599             150    petal_width         1.8
642              43        species      setosa
266             117    sepal_width           3
668              69        species  versicolor
331              32   petal_length         1.5
388              89   petal_length         4.1
487              38    petal_width         0.1
613              14        species      setosa
138             139   sepal_length           6
508              59    petal_width         1.3
271             122    sepal_width         2.8
364              65   petal_length         3.6
696              97        species  versicolor
7                 8   sepal_length           5
640              41        species      setosa
334              35   petal_length         1.5
130             131   sepal_length         7.4

In [ ]:
# sns.swarmplot(x="pclass", y="age", data=train_df, hue="survived", palette="Set2")

In [ ]:
# train.survived.value_counts().plot(kind="bar", alpha=.5)