# preparation exercise
Iris Data

Use the function defined in acquire.py to load the iris data.

Drop the species_id and measurement_id columns.
Rename the species_name column to just species.
Encode the species name using a sklearn label encoder. Research the inverse_transform method of the label encoder. How might this be useful?
Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [1]:
# import warnings
# warnings.filterwarnings("ignore")
import acquire
import prepare
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [2]:
iris_df = acquire.get_iris_data()

In [3]:
iris_df.drop(columns=['species_id','measurement_id'], inplace=True)

In [4]:
# le = preprocessing.LabelEncoder()
# iris_df['species'] = le.fit_transform(iris_df['species'])

Titanic Data

In [5]:
df = acquire.get_titanic_data()

In [6]:
# get the count of unique values
df.embarked.value_counts()

S    644
C    168
Q     77
Name: embarked, dtype: int64

In [7]:
df.embarked.value_counts().sum()

889

In [8]:
df.shape

(891, 13)

In [9]:
df = prepare.handle_missing_values(df)

In [10]:
df = prepare.remove_columns(df)

In [11]:
df = prepare.encode_embarked(df)

In [12]:
df.describe()

,passenger_id,survived,pclass,age,sibsp,parch,fare,alone,embarked_encode
count,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000
mean,455.000000,0.675824,1.192308,35.623187,0.467033,0.478022,78.919735,0.428571,1.274725
std,247.584731,0.469357,0.516411,15.671615,0.645007,0.755869,76.490774,0.496237,0.958428
min,1.000000,0.000000,1.000000,0.920000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,262.250000,0.000000,1.000000,24.000000,0.000000,0.000000,29.700000,0.000000,0.000000
50%,458.000000,1.000000,1.000000,36.000000,0.000000,0.000000,57.000000,0.000000,2.000000
75%,677.000000,1.000000,1.000000,47.750000,1.000000,1.000000,90.000000,1.000000,2.000000
max,889.000000,1.000000,3.000000,80.000000,3.000000,4.000000,512.329200,1.000000,2.000000

In [13]:
df = prepare.scale_minmax(df)

In [14]:
df.describe()

,passenger_id,survived,pclass,age,sibsp,parch,fare,alone,embarked_encode
count,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000
mean,455.000000,0.675824,1.192308,0.438836,0.467033,0.478022,0.154041,0.428571,1.274725
std,247.584731,0.469357,0.516411,0.198174,0.645007,0.755869,0.149300,0.496237,0.958428
min,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,262.250000,0.000000,1.000000,0.291856,0.000000,0.000000,0.057971,0.000000,0.000000
50%,458.000000,1.000000,1.000000,0.443601,0.000000,0.000000,0.111257,0.000000,2.000000
75%,677.000000,1.000000,1.000000,0.592185,1.000000,1.000000,0.175668,1.000000,2.000000
max,889.000000,1.000000,3.000000,1.000000,3.000000,4.000000,1.000000,1.000000,2.000000